@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Cormorant%20SC:wght@400;600&display=swap");@import url("https://fonts.googleapis.com/css2?family=DM%20Serif%20Display:wght@400&display=swap");@import url("https://fonts.googleapis.com/css2?family=DM%20Sans:wght@400;500&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}@font-face {font-family: GreatVibes;font-display: swap;src: url("../assets/fonts/GreatVibes-Regular.woff2") format("woff2");font-weight: 400;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?9107e8a389c6c27793c503df8682a8fc") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-phone"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-location"]::before { 
		content: "\f102"; 
	} 




/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #D9D9D9;
  font-family: "DM Sans";
  font-size: 1.25rem;
  background-color: #1E1E1E;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
  position: relative;
  z-index: 1;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  display: inline-flex;
  align-items: center;
  color: #000000;
  padding: 0.8125rem 0.875rem 0.75rem 1.125rem;
  background: #F5BE32;
  transition: color 0.6s, background-color 0.6s, border-color 0.6s, box-shadow 0.6s;
  border: 0.125rem solid #000000;
  text-transform: capitalize;
}
.button.button--active, .button.--tab-active {
  background-color: transparent;
  color: #F5BE32;
  border-color: #F5BE32;
}
.button--border {
  background-color: transparent;
  border-color: #D9D9D9;
  color: #D9D9D9;
}
.button--border.button--active, .button--border.--tab-active {
  background-color: #F5BE32;
  color: #000000;
  border-color: #000000;
}
.button--decor {
  font-family: "Cormorant SC";
  font-weight: 600;
  background-color: #F5BE32;
  color: #000000;
  border-color: #F5BE32;
}
.button--decor::after {
  content: "";
  height: 0.125rem;
  width: 3.3125rem;
  background-color: #000000;
  margin-left: 0.9375rem;
  transition: background-color 0.6s;
}
.button--decor:active, .button--decor:focus {
  background-color: transparent;
  color: #F5BE32;
  box-shadow: 0rem 0.25rem 0.9375rem rgba(245, 190, 50, 0.5);
}
.button--decor:active::after, .button--decor:focus::after {
  background-color: #F5BE32;
}
.button--border-decor {
  color: #F5BE32;
  background-color: transparent;
}
.button--border-decor::after {
  background-color: #F5BE32;
}
.button--border-decor:active, .button--border-decor:focus {
  background-color: #F5BE32;
  color: #000000;
}
.button--border-decor:active::after, .button--border-decor:focus::after {
  background-color: #000000;
}
.button--fw {
  width: 100%;
}.blockhead__title, .blockhead__text {
  line-height: 1.35;
}

/* Generated by vite-plugin-svg-spritemap */
.blockhead {
  display: grid;
  justify-items: center;
  max-width: 28.125rem;
  text-align: center;
  justify-self: center;
  margin-bottom: 1.875rem;
}
.blockhead > * {
  margin-bottom: 1.25rem;
}
.blockhead__label {
  font-family: "GreatVibes";
  font-size: 1rem;
  letter-spacing: 0.4em;
  color: #FFFFFF;
  margin-bottom: 0rem;
}
.blockhead__label {
  transform: translateY(1rem);
  opacity: 0;
  transition: 0s;
}
[intro-hide] .blockhead.--watcher-view .blockhead__label {
  transition: transform 0.4s 0.2s, opacity 0.4s 0.2s;
  transform: translateY(0rem);
  opacity: 1;
}
.blockhead__title h2 {
  font-family: "DM Serif Display";
  color: rgba(243, 211, 130, 0.8);
  color: rgba(245, 190, 50, 0.1);
  background: linear-gradient(90deg, #F3D382, #F3D382, rgba(245, 190, 50, 0.8), rgba(245, 190, 50, 0.8), #F3D382, #F3D382);
  background-size: 400% 100%;
  background-clip: text;
  color: transparent;
  position: relative;
  overflow: hidden;
}
.blockhead__title h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -35%;
  background: radial-gradient(rgba(245, 190, 50, 0.07), rgba(245, 190, 50, 0), rgba(245, 190, 50, 0));
  width: 5em;
  height: 140%;
  transform: translate(-50%, -50%);
}
.blockhead__title {
  transform: translateY(1rem);
  opacity: 0;
  transition: 0s;
}
[intro-hide] .blockhead.--watcher-view .blockhead__title {
  transition: transform 0.4s 0.4s, opacity 0.4s 0.4s;
  transform: translateY(0rem);
  opacity: 1;
}
[intro-hide] .blockhead .blockhead__title h2.--watcher-view {
  transition: background-position 1.5s ease-in-out 0.1s;
  background-position: -165% 0;
}
[intro-hide] .blockhead .blockhead__title h2.--watcher-view::before {
  left: 140%;
  transition: left 1.3s ease-in-out 0.1s;
}
.blockhead__text {
  transform: translateY(1rem);
  opacity: 0;
  transition: 0s;
}
[intro-hide] .blockhead.--watcher-view .blockhead__text {
  transition: transform 0.4s 0.6s, opacity 0.4s 0.6s;
  transform: translateY(0rem);
  opacity: 1;
}
.blockhead > *:last-child {
  margin-bottom: 0rem;
}
@media (max-width: 47.99875em){
  .button {
    padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
  }
  .button--decor::after {
    width: 2.5rem;
    margin-left: 0.625rem;
  }
  .blockhead > * {
    margin-bottom: 0.625rem;
  }
  .blockhead__label {
    font-size: 1.25rem;
  }
}
@media (max-width: 29.99875em){
  .button {
    font-size: 1.125rem;
  }
}
@media (width <= 20em){
  .blockhead__title h2 {
    font-size: 2.1875rem;
  }
  .blockhead__text {
    font-size: 1.125rem;
  }
}
@media (width > 20em) and (width <= 76.875em){
  .blockhead__title h2 {
    font-size: clamp( 2.1875rem , 2.0776098901125rem  +  0.5494505495vw , 2.5rem );
  }
  .blockhead__text {
    font-size: clamp( 1.125rem , 1.08104395604375rem  +  0.2197802198vw , 1.25rem );
  }
}
@media (width > 76.875em){
  .blockhead__title h2 {
    font-size: 2.5rem;
  }
  .blockhead__text {
    font-size: 1.25rem;
  }
}
@media (any-hover: hover){
  .button:hover {
    background-color: transparent;
    color: #F5BE32;
    border-color: #F5BE32;
  }
}
@media (any-hover: hover) and (any-pointer: fine){
  .button--border:hover {
    background-color: #F5BE32;
    color: #000000;
    border-color: #000000;
  }
  .button--decor:hover {
    background-color: transparent;
    color: #F5BE32;
    box-shadow: 0rem 0.25rem 0.9375rem rgba(245, 190, 50, 0.5);
  }
  .button--decor:hover::after {
    background-color: #F5BE32;
  }
  .button--border-decor:hover {
    background-color: #F5BE32;
    color: #000000;
  }
  .button--border-decor:hover::after {
    background-color: #000000;
  }
}